html
    head
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css', integrity='sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==', crossorigin='anonymous', referrerpolicy='no-referrer')
        style 
            include css/style.css
        script(src='..//js/1.js', defer)
    body
        nav
            .navbar-logo-container
                .navbar-logo
                    h1= name
            .navbar-menu-container
                ul.navbar-menu       