html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= titulliIfaqes
  body
    section#libri
            .container
                .row
                    .col-5.aligh-right
                        - const width=300
                        img(src=libri.img, width=(width),height=(width*1.6))
                    .col-7.justify-content-right
                        h1= libri.titulli
                        p Autori: #[span= libri.autori]
                        p Zhanri: #[span Zhanri i librit]
                        p Pershkrimi: #[span Pershkrimi i librit]
                        p ISBN: #[span ISBN i librit]
                        p Viti i botimit #[span Viti i botimit te librit]
                        a.btn.btn-primary.m-1(href="/book-collection/"+libri.id) Buy
                        button.btn.btn-warning.m-1 PreeView