include ../includes/navBar.pug
    block head 
        link(rel='stylesheet', href='/css/navBar.css')
    block content
        section
            .container
                .row.mt-5
                    .col-5.d-flex.justify-content-end
                        - const width=300
                        img(src=libri.img, width=(width),height=(width*1.6))
                    .col-7.justify-content-right
                        h1= libri.titulli
                        p Autori: #[span= libri.autori]
                        p Zhanri: #[span Zhanri i librit]
                        p Pershkrimi: #[span Pershkrimi i librit]
                        p ISBN: #[span ISBN i librit]
                        p Viti i botimit #[span Viti i botimit te librit]
                        a.btn.btn-primary.m-1(href="/book-collection/"+libri.id) Buy
                        button.btn.btn-warning.m-1 PreeView
